[submodule "git@github.com:jstraceski/config.git/mpv"]
	path = git@github.com:jstraceski/config.git/mpv
	url = git@github.com:jstraceski/config.git
[submodule "portable_config"]
	path = portable_config
	url = git@github.com:jstraceski/config.git/mpv
[submodule "mpv"]
	path = portable_config
	url = git@github.com:jstraceski/config.git/mpv
