
logs/**
crash-reports/**
resourcepacks*/**
saves
backups
mods
tfgconf/*
tfgconf/*/
!tfgconf/config
kubejs/*
kubejs/*/
!kubejs/config
**/cache*/**
XaeroWaypoints_BACKUP*/**
rhino*
*_old
*cache*
knownkeys.txt
.curseclient
minecraftinstance.json
fancymenu_data/*
defaultconfigs/*